html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
  max-width: $page-width;
}

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  position: absolute;
  box-sizing: border-box;
  height: 4rem;
  background-color: $lighter;
  left:0;
  top:0;
  h1 {
    cursor:pointer;
  }
}
#router-base {
  position: relative;
  top: 4rem;
}

.subtitle {
  margin: 0.5rem;
  font-weight: 100;
}

#subtitle-wrapper {
  display: flex;
  max-width: 400px;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
#login-form {
  position: relative;
  .button {
    margin: 2rem 2rem 1rem;
  }
}

#title-landing {
  margin: 5rem;
}
.paper {
  width: 400px;
  height: 270px;
  margin: 100px auto auto;
  display: flex;
  flex-direction: column;
  box-shadow: $darker 0 1rem 2rem;
  border-radius: 0.1rem;
  justify-content: center;
  align-items: center;
  background-color: $lighter;
  div {
    display: flex;
    flex-direction: column;
  }
}

.button {
  background: none;
  border: transparent solid 1px;
  color: $secondary-color;
  font-size: $font-size;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  &:hover {
    color: $font-color;
    box-shadow: $darker 0 0.2rem 0.5rem;
    border: $secondary-color solid 1px;
  }
}
.text-field {
  margin-bottom: 0.5rem;
  padding: 0.5rem ;
  border: none;
  font-size: $font-size;
  font-family: $font-family;
}
#login-message {
  bottom:-4rem;
  position: absolute;
  color: $warning;
}